thead th{
	background:#9ED2FF;
	text-align:left;
	padding-left:50px;
	padding-right:50px;
	
}

h1{
	text-align: center;
}
.avatares{
	
	cursor:pointer;
	}

button{
	width:300px;
	position:relative;
	left:35%;
	margin-top:30px;
	margin-bottom:30px;
}

h1{
	text-align:center;
}

div .col-md-8{

	border: 1px solid #c6c6c6;
}

.ocultar{
	display:none;
}

.resaltar{
	background:red;
}

tbody tr {
	cursor: pointer;
}


input[type='text']{
	width: 300px;
	position:relative;
	top: -10px;
}

nav ul li {
	width: 25px;
	height: 25px;
	border: 0.5px solid #c6c6c6;
	list-style: none;
	display: inline;
	float:left;
	text-align: center;
}

thead tr th{
	cursor: pointer;
}


.paginas{
	position: relative;
	left: 80%;
}